
p {*/
  font-size: 2em;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  color: tomato;
}

a:visited {
    color: 5D5D5D;
}
